[Desktop Entry]
Name=jMCPIL
Comment=Minecraft Pi Launcher
Icon=/usr/share/pixmaps/jmcpil.png
StartupNotify=false
StartupWMClass=com-thebrokenrail-jmcpil-Main
Exec=/usr/bin/jmcpil
Terminal=false
Type=Application
Categories=Application;Game;
